@import './Mixin';
@import './Colors';

 .FeaturedProducts-container {
    padding: 80px 0;
    h1 {
        @include title;
    }
    hr {
        @include hr(50px);
    }
}

.FeaturedProducts-grid {
    display: grid;
    justify-items: space-around;
    grid-gap: 30px;

    // Declare Areas  
    .boot { grid-area: boot; }
    .backpack { grid-area: backpack; }
    .coat { grid-area: coat }
    .cap { grid-area: cap; }
    .backpack2 { grid-area: backpack2; }
    .shirt { grid-area: shirt; }

    // Arrange Areas
    grid-template-areas: 
    'boot boot backpack' 
    'boot boot coat' 
    'cap shirt shirt' 
    'backpack2 shirt shirt';
    // FeaturedProducts Pictures
    &>div {
        min-height: 240px;
        
        img {
            background-origin: center center;
            background-position: center center;
            background-size: cover;
            background: black;
            max-height: 200px;
            width: 100%;
        }
        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-family: 'Old Standard TT', serif;
                text-transform: capitalize;
                span {
                    font-weight: 600;
                }
            }
        }
    }
    .smBox, .lgBox{ background: $bgImg;}

    .smBox { height: auto; }

    .lgBox { height: auto; }
}