@import './Mixin.css';
@import './Colors';
@import './Fonts';
@import './ItemSection1';
@import './ItemSection2';


.ItemSection-container{
    padding: 30px 0;
}

.cap{grid-area: cap;}
.backpack2{grid-area: bp2;}
.shirt{grid-area: shirt;}

.smHolder, .lgHolder{
    background: $bgImg;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.smHolder, .lgHolder{
    height: 200px;
}
.lgHolder{
    height: 100%;
}

.smBox{
    height: 220px;
}

.price{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        text-transform: capitalize;
        font-family: 'Old Standard TT', serif;
        font-size: 1.2rem;
        span {
            font-weight: 600;
            font-size: 1rem;

        }
    }
}

