@mixin NavBar{
    @media all and (max-width: 800px){
        nav{
            display: none;
        }
        .menu-btn{
            display: block;
            .menu-line {
                background: green;
            }
        }
        
    }
    
}
@mixin TitleMedia{
    h1{
        color: red;
    }
}
