.message-container{
    padding: 100px;
    p{
        color: #222323;
        font-style: italic;
        font-family: 'Rouge Script', cursive;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 2.2rem;
        span{
            a{
                text-decoration: none;
                font-weight:600;
                color:brown;
            }
        }
    }
}