@import '../App.css';

// Navbar
.navbar{
    height: 15px;
    padding:40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // shadow-box
    position: relative;
    z-index: 3;
    .navbar-logo{
        display: flex;
        justify-content: flex-start;
    }
}
// Logo
.navbar-logo img{
    height: 80px;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: flex-end;
    ul{
        display: flex;
        flex-direction: row;
        .navbar-links{
            padding: 0 20px;
        }
        li{
            list-style: none;
            padding: 0 10px;
            letter-spacing: 2.5px;
            
            
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.1rem;
                font-weight: bolder;
                font-family: 'Yanone Kaffeesatz', sans-serif;
                
            }
            i{
                font-size: 1.1em;
            }
        }
    }
}

.black a{
    color: black;
}
.white a{
    color: white;
}
// Menu Button
.menu-btn{
    padding: 10px;
    display: none;
    height:30px;
    width: 35px;
    cursor: pointer;
    
    &:hover .menu-line{
        &:nth-child(1){
            transform: rotate(45deg) translate(18px, 0px);
              
        }
        &:nth-child(2){
            opacity: 0;
        }
        &:nth-child(3){
            transform: rotate(-45deg) translate(19px, 0);
        }
    }

    .menu-line {
        transition: transform .5s ;
        height: 4px;
        background: white;
        margin-bottom: 8px;
        border-radius: 5px;
    }
}


  
@import './MediaQueries';