@import './Css/Mixin';

*{
  margin:0;
  padding:0;
}

.Section-container{ padding: 130px 0; }

// Containers
.nav-container{ @include container(1100px); }
.sm-container { @include container(900px); }
.container{ @include container(1400px); }

.showcase{
  height: 100vh;
  background: url(./Img/showcase-img2.jpg);
  background-origin: center center;
  background-position: center center;
  background-size: cover;
  position: relative;
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    content:'';
    height: 100%;
    width: 100%;
    opacity: .6;
    z-index: 2;
    background: black;
  }
}

